.topdiv {
	background-image: url("/resource/topbanner.png");
	height: 182px;
	width: 709px;
	position: relative;
}
.sidebar {
	height: 390px;
	width: 140px;
	position: absolute;
	left: 0px;
	top: 182px;
	border: 3px double #000000;
	padding: 5px;
}
.body {
	width: 528px;
	height: 390px;
	position: absolute;
	left: 160px;
	top: 182px;
	border: 3px double #000000;
	padding: 5px;
}

body {
	padding: 0px;
	margin: 0px;
}

label
{
width: 6em;
float: left;
display: block
}
.topdiv_gebruikerbar {
	height: 64px;
	width: 386px;
	border: 1px dotted #000000;
	right: 6px;
	bottom: 0px;
	position: absolute;
	text-align: right;
}

/* Footer */
.bottomdiv {
        background-image: url("/resource/bottombanner.png");
        position: relative;
        background-repeat: no-repeat;
}

.transaction_submenu {
	display: block;
	margin: 5px;
	width: 150px;
	padding: 5px;
	background-color: #ff9933;
	color: #ffffff;
}