body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #F9F9F9;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
}

#container {
	width: 100%; 
	background: #FFFFFF;
	margin: 0; 
	padding: 0;
	text-align: left; 
}

#header { 
	background: #333333; 
	padding: 0 10px 0 20px;
	color: #CCCCCC;
	height: 75px;
}

#content {
	padding: 10px; 
	background: #FFFFFF;
}

#footer { 
	padding: 10px;
	background:#333333;
	color: #CCCCCC;
} 


#menu {
	margin: 0;
	padding: 5px 10px;
}
#menu a{
	text-decoration: none;
	font-size: 13px;
	color: #333333;
}
#menu a:hover{
	color: #1E90FF;
	text-decoration: none;
}

.formGray {
	background-color:#F9F9F9;
	color: #333333;
}

.formWhite {
	background-color:#FFFFFF;
	color: #333333;
}

.bankStatus {
	background-color:#FFFFFF;
	color:#003366;
	font-style:italic;
}

.formError {
	background-color:#FFF;
	color:#F00;
	font-style:italic;
	font-size:14px;
}

.formInformatie {
	background-color:#FFF;
	color:#06F;
}

.accountOfficeSaldo {
	background-color:#FFF;
	color:#063;
	font-size:18px;
}

.greenColor {
	background-color:#FFF;
	color:#063;
	font-style:italic;
	font-size:14px;
}

fieldset {
	border: none;
}

.bold {
	font-weight: bold;
}

h1 {
	margin: 0;
	padding: 10px;	
}

h2 {
	margin: 0;
	padding: 10px;
	color: #3399FF;
}

h3 {
	margin: 0;
	padding: 10px;
	color: #666666;
}

.overview td {
	padding: 5px;
}

#whoAmI {
	float: right;
}

#header a, a:visited, a:active, a:link {
	color: #CCCCCC;
}

#header a:hover {
	color: #1E90FF;
}